/* .container{
    /* font-size: 55px; */
    
.box{
    /* font-size: 2em; */
    width: 50vw;
    height: 50vh;
    background-color: #0edd34;
}
.box2{
    width: 50vw;
    background-color: #f7f300;
}