.class1{
    background-color: #f60c0c;
    width: 500px;
    height: 353px;
    display: inline;

}
.class2{
    background-color: #005617;
    width: 500px;
    height: 353px;
    display: inline;
    color: white;

}